<p></p>
<%= form_tag sessions_path do %>

<p>
<div class="field">
  <%= label_tag "Username" %>
  <%= text_field_tag :username, params[:username] %>
</div>
</p>

<p>
<div class="field">
  <%= label_tag :password %>
  <%= password_field_tag :password %>
</div>
</p>
<p>
<div class="actions">
  <%= submit_tag "Login" %>
</div>
</p>
<% end %>


