<p></p>
<h2>Proje Listesi</h2>
<p></p>

<table>
  <tr>
    <th>Proje Adı</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Projenin İçeriği</th>
    <th></th>
    <th></th>
  </tr>

<p></p>
<% @projes.each do |proje| %>
  <tr>
    <td><%= proje.title %></td>
    <td></td>
    <td></td>
    <td></td>
    <td><%= proje.content %></td>

    <td><%= link_to 'Show', proje %></td> 
    <td></td>
    <% if can? :edit, proje %>
      <td><%= link_to 'Edit', edit_proje_path(proje) %></td>
    <% end %> 
     <td></td>
    <% if can? :destroy, proje %>
     
   <td><%= link_to 'Destroy', proje, method: :delete, data: { confirm: 'Are you sure?' } %></td> 
    <% end %>
    <td></td>
  </tr>
<% end %>
</table>

<br />

<% if can? :create, Proje %>
  <%= link_to 'New Proje', new_proje_path %>
<% end %>
