Proje listesi için <%= link_to "Proje", projes_path %> linkini tıklayınız.
<t></t>
<br />
<p></p>
Öğrenci grupları için <%= link_to "Gruplar", '/admin/groups' %> tıklayınız.
<br />
<p></p>

Öğrenci listesi

<table>
  <tr>
    <th></th>
    <th>No</th>
    <th></th>
    <th>Ad</th>
    <th></th>
    <th>Soyad</th>
    <th></th>
    <th>Email</th>
    <th></th>
  </tr>
<%= form_tag( controller:"admin", action:"creategroup") do %>
<% @ogrenci.each do |ogrenci| %>
  <tr>
    <td><%= check_box_tag "ogrenci_ids[]", ogrenci.id %></td>
    <td></td>
    <td><%= ogrenci.okulno %></td>
    <td></td>
    <td><%= ogrenci.ad %></td>
    <td></td>
    <td><%= ogrenci.soyad %></td>
    <td></td>
    <td><%= ogrenci.email %></td>
  </tr>
<% end %>
<%= text_field_tag(:name) %>
<%= submit_tag "Oluştur" %>
</table>
<% end %>
