<p id="notice"><%= notice %></p>

<p>
  <b>Project Name:</b>
  <%= @project.title %>
</p>

<p>
  <b>Project Detail:</b>
  <%= @project.content %>
</p>


<% if can? :edit, @project %>
  <%= link_to 'Edit', edit_project_path(@project) %>
<% end %>
<%= link_to 'Back', projects_path %>


<div class = "row" >
    <div class="span3">
	    <h4>Proje raporlarını buradan yükleyebilirsiniz.</h4>
	    <p><%= link_to "Upload",upload_index_path, :class => "btn btn-primary" %>
    </div>
