<!DOCTYPE html>
<html>
<head>
  <title><%= t 'welcome.title' %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t 'welcome.languages' %><b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="?locale=tr">Türkçe</a></li>
    <li class="divider"></li>
    <li><a href="?locale=en">English</a></li>
    <li><a href="?locale=ru">Русский</a></li>
  </ul>
  </li>
  <p>
    <% if current_user  %>
      <%= t 'welcome.welcome' %> <b><%= current_user.username %></b> |
      <%= t('welcome.log_out_message', :url => logout_url) %>
    <% else %>
      <%= t 'welcome.log_in' %> |
      <%= t 'welcome.log_in_message', :url => link_to(t("log_in"), login_url) %>
    <% end %>
  </p>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
<%= yield %>

</body>
</html>
