<!DOCTYPE html>
<html>
<head>
  <title>SummerOfProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p>
    <% if @current_user  %>
      (: WELCOME..  <b><%= @current_user.username %></b> |
      <%= link_to "EXIT", logout_url %>
    <% else %>
      Have not logged in..! |
      <%= link_to "LOGIN", login_url %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
