<!DOCTYPE html>
<html>
<head>
  <title>SummerOfProject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p>
    <% if @current_user  %>
     <h6> (: HOŞGELDİN..</h6>
     <b><%= @current_user.username %></b> |
      <%= link_to "Çıkış", logout_url %>
    <% else %>
      Giriş yapmamışsın..! |
      <%= link_to "Giriş Yap", login_url %>
    <% end %>
  </p>

<%= yield %>

</body>
</html>
